$title: 'Roboto', sans-serif;
$body: 'Roboto', sans-serif;

// Font for titles
@font-face {
    font-family: $title;
    src: url('../../../assets/fonts/roboto-regular.woff') format('woff'),
        url('../../../assets/fonts/roboto-regular.ttf') format('truetype');
}

// Font for bodies
@font-face {
    font-family: $body;
    src: url('../../../assets/fonts/roboto-regular.woff') format('woff'),
        url('../../../assets/fonts/roboto-regular.ttf') format('truetype');
}
